<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Użytkownik</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<div class="content">
    <div class="header">
        <h2 th:text="|Panel użytkownika ${user.username}|"></h2>
    </div>
    <div>
        <table class="table">
            <thead>
            </thead>
            <tbody>
            <tr>
                <td>Imię</td>
                <td>
                    <span th:text="${user.firstName}"></span>
                    <span th:if="${user.firstName}==null" onclick="changeName()">Wpisz imię</span>
                </td>
                <td>
                    <button onclick="changeName()">Edytuj</button>
                </td>
                <td>
                    <form id="nameChangeSection" style="display: none" th:action="@{/secure?change=firstname}" th:method="post">
                        <input name="text" type="text" placeholder="Wpisz tu nowe imię">
                        <button type="submit">Zapisz</button>
                    </form>
                </td>
            </tr>
            <tr>
                <td>Nazwisko</td>
                <td>
                    <span th:text="${user.lastName}"></span>
                    <span th:if="${user.lastName}==null" onclick="changeSurame()">Wpisz nazwisko</span>
                </td>
                <td>
                    <button onclick="changeSurname()">Edytuj</button>
                </td>
                <td >
                    <form id="surnameChangeSection" style="display: none" th:action="@{/secure?change=lastname}" th:method="post">
                        <input name="text" type="text">
                        <button type="submit">Zapisz</button>
                    </form>
                </td>
            </tr>
            <tr>
                <td>Hasło</td>
                <td></td>
                <td>
                    <button onclick="changePassword()">Zmień hasło</button>
                </td>
                <td id="passwordChangeSection" style="display: none">
                    <form th:action="@{/secure?change=password}" th:method="post">
                        <input name="text" type="text">
                        <button type="submit">Zapisz</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
        <br>
        <a th:href="@{/logout}">Wyloguj</a>
        <br>
        <a th:href="@{/admin}" th:if="${admin}">Wejdź w panel admina.</a>
    </div>
</div>
<script>
    function changeName() {
        var x = document.getElementById("nameChangeSection");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
    function changeSurname() {
        var x = document.getElementById("surnameChangeSection");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
    function changePassword() {
        var x = document.getElementById("passwordChangeSection");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
</script>
</body>
</html>